<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
			<img src="/media/wardrobe256.png" alt="Bootstrap" width="30" height="24" />
			Dispensa
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
					<% if (path === '/inventory') { %>
                        <a class="nav-link" onclick="document.getElementById('addItem').scrollIntoView()" data-bs-toggle="collapse" href="#addItemForm" role="button" aria-expanded="false" aria-controls="addItemForm">
                                Aggiungi un prodotto
                        </a>
                    <% } %>
                    <% if (path === '/todo') { %>
                        <a class="nav-link" onclick="document.getElementById('addItem').scrollIntoView()" data-bs-toggle="collapse" href="#addItemCollapse" role="button" aria-expanded="false" aria-controls="addItemCollapse">
                                Aggiungi una attività
                        </a>
                    <% } %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">WIP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">WIP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>