<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            
            <a href="/inventory" class="list-group-item list-group-item-action py-2 ripple <% if (path == '/inventory') { %> active <% } %>" aria-current="true">
                <i class="fa-regular fa-house me-3"></i>
                <span>Dispensa</span>
            </a>
            <a href="/todo" class="list-group-item list-group-item-action py-2 ripple <% if (path == '/todo') { %> active <% } %>" aria-current="true">
                <i class="fa-solid fa-list-check me-3"></i></i><span>To do </span>
            </a>
            <a href="/shopping-manager" class="list-group-item list-group-item-action py-2 ripple <% if (path == '/shopping-manager') { %> active <% } %>" aria-current="true">
                <i class="fa-solid fa-clipboard-list me-3"></i><span>Lista della spesa</span>
            </a>
        </div>
    </div>
</nav>
<!-- Sidebar -->