<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastMessage" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bi bi-info-circle me-1"></i>
            <strong id="toastTitle" class="me-auto"> TITLE</strong>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"
            ></button>
        </div>
        <div id="toastBody" class="toast-body">BODY_MESSAGE</div>
    </div>
</div>
