.previewImage {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}

.previewImageBig {
    max-width: 350px;
    max-height: 350px;
    object-fit: contain;
}

.centeredImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.addProductsCollapse {
    margin-top: 3px;
    margin-bottom: 10px;
}

button > i,
button > svg {
    pointer-events: none;
}

.image-search {
    position: relative;
}

.icon-search {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray
}


.selectImage:hover {
    cursor: pointer;
    border: 3px solid #0d6efd !important;
}