<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/inventory.css">
</head>
<body>


    <div class="container">
        
        <div id="addItem"></div>
        <div class="collapse addProductsCollapse" id="addItemCollapse">
            <div class="card card-body">
                <div>
                    <%- include('../components/addItemsForm.ejs') %>
                </div>
            </div>
        </div>

        
        
        <div id="itemList">
            <h1>Elenco prodotti</h1>
            <hr>
            <%- include('../components/listItems.ejs') %>
        </div>
        
    </div>


<script src="/js/inventory.js"></script>
<%- include('../includes/footer.ejs') %>