<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/todo.css">
</head>
<body>


    <div class="container">
        
        <div id="addItem">&nbsp;</div>
        <div class="collapse addProductsCollapse" id="addItemCollapse">
            <div class="card card-body">
                <div>
                    <%- include('./components/addTodoForm.ejs') %>
                </div>
            </div>
        </div>
        
        <div id="itemList">
            <h1>Elenco To-Do</h1>
            <hr>
            <div id="todoList">
                <%- include('./components/todoList.ejs') %>
            </div>
        </div>
        
    </div>

<script src="/js/todo.js"></script>
<%- include('../includes/footer.ejs') %>