<%- include('../includes/header.ejs') %>

<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: calc(100vh - 48px)">
    <div class="row">
        <div class="col-md-12 offset-md-3">
            <h1 class="display-1 text-center">Errore inatteso</h1>
            <p class="lead text-center">Sembra che qualcosa sia andato storto.</p>
            <p class="text-center">
                <a href="/" class="btn btn-primary">Torna alla homepage</a>
            </p>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs') %>