<div class="hidden">
    <div class="row">
        <div class="col-sm-12 d-flex align-items-center" id="badgeList">
            <div class="accordion w-100" id="accordionFilter">
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse" >
                            Filter
                        </button>
                    </h3>
                    
                    <div id="filterCollapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="statusFilter" class="form-label">Stato</label>
                                    <select class="form-select" aria-label="Default select example" id="statusFilter">
                                        <option value="">Tutte</option>
                                        <option value="true">Completed</option>
                                        <option value="false">Uncompleted</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="categoryFilter" class="form-label">Categoria</label>
                                    <select class="form-select" aria-label="Default select example" id="categoryFilter">
                                        <option value="" active></option>
                                        <% categories.forEach((category) => { %>
                                            <option value="<%= category %>"><%= category %></option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="priorityFilter" class="form-label">Priority</label>
                                    <select class="form-select" aria-label="Default select example" id="priorityFilter">
                                        <option value="" active></option>
                                        <option value="Bassa">🟢 Bassa</option>
                                        <option value="Media">🟡 Media</option>
                                        <option value="Alta">🔴 Alta</option>
                                        <option value="Urgente">🚨 Urgente</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="assigneeFilter" class="form-label">Assegnato a</label>
                                    <select class="form-select" aria-label="Default select example" id="assigneeFilter">
                                        <option value="" active></option>
                                        <% assignees.forEach((assignee) => { %>
                                            <option value="<%= assignee %>"><%= assignee %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
