<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/shoppingManager.css">
</head>
<body>
    <div class="container">
        <div id="addItem">&nbsp;</div>
        <%- include('../components/searchBar.ejs') %>
        
        <div class="row">
            <div class="col-md-12">
                <h1>Lista della spesa</h1>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-2">
                <button class="btn btn-primary" id="upsertList">Crea / Aggiorna Lista</button>
            </div>
            
            <div class="col-md-2">
                <button class="btn btn-primary <% if (!user.telegramId) { %> disabled <% } %>" id="sendList">Manda su Telegram</button>
            </div>
        </div>

        <div class="container shopping-list-container py-3">
            <div id="shoppingManagerList" class="row justify-content-center g-3">
                <%- include('./components/shoppingManagerList.ejs') %>
            </div>
        </div>


    </div>
    <script src="/js/shoppingManager.js"></script>
<%- include('../includes/footer.ejs') %>