<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/shoppingManager.css">
</head>
<body>
    <div class="container">
        <div id="addItem">&nbsp;</div>
        <%- include('../components/searchBar.ejs') %>
        
        <div class="row">
            <div class="col-md-12">
                <h1>Lista della spesa</h1>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-2">
                <button class="btn btn-primary" id="upsertList">Crea / Aggiorna Lista</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" id="sendList">Mandami la lista su tg</button>
            </div>
        </div>

        
        <div id="shoppingManangerList" class="row">
            <%- include('./components/shoppingManagerList.ejs') %>
        </div>
    </div>
    <script src="/js/shoppingManager.js"></script>
<%- include('../includes/footer.ejs') %>